{
  "openapi": "3.1.0",
  "info": {
    "title": "Firework API",
    "version": "v4"
  },
  "servers": [
    {
      "url": "https://api.flare.io/firework/v4/"
    }
  ],
  "paths": {
    "/admin/cookies/configurations": {
      "get": {
        "summary": "List Cookie Monitoring Configurations",
        "operationId": "list_cookie_monitoring_configurations_admin_cookies_configurations_get",
        "parameters": [
          {
            "name": "from_",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "From "
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Size"
            }
          },
          {
            "name": "order_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderType",
              "default": "asc"
            }
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Tenant Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedCookieConfigurations"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/admin/cookies/monitor": {
      "post": {
        "summary": "Create Cookie Monitoring Configuration",
        "operationId": "create_cookie_monitoring_configuration_admin_cookies_monitor_post",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CookieMonitoringConfigurationItem"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/alerts/": {
      "get": {
        "summary": "Tenant Alerts",
        "operationId": "tenant_alerts_alerts__get",
        "parameters": [
          {
            "name": "from_",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "From "
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10,
              "exclusiveMinimum": 0,
              "default": 10,
              "title": "Size"
            }
          },
          {
            "name": "order_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderType",
              "default": "asc"
            }
          },
          {
            "name": "feed_owner_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Feed Owner Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResults_Alert_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Alert",
        "operationId": "create_alert_alerts__post",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAlert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/alerts/{alert_id}": {
      "patch": {
        "summary": "Update Alert",
        "operationId": "update_alert_alerts__alert_id__patch",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Alert Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialAlert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Alert",
        "operationId": "delete_alert_alerts__alert_id__delete",
        "parameters": [
          {
            "name": "alert_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Alert Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/alerts/channels": {
      "get": {
        "summary": "Alert Channels",
        "operationId": "alert_channels_alerts_channels_get",
        "parameters": [
          {
            "name": "from_",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "From "
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10,
              "exclusiveMinimum": 0,
              "default": 10,
              "title": "Size"
            }
          },
          {
            "name": "order_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderType",
              "default": "asc"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResults_PartialAlertChannel_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Channel",
        "operationId": "create_channel_alerts_channels_post",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAlertChannel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertChannel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/alerts/channels/{alert_channel_id}": {
      "delete": {
        "summary": "Delete Channel",
        "operationId": "delete_channel_alerts_channels__alert_channel_id__delete",
        "parameters": [
          {
            "name": "alert_channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Alert Channel Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Channel",
        "operationId": "update_channel_alerts_channels__alert_channel_id__put",
        "parameters": [
          {
            "name": "alert_channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Alert Channel Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAlertChannel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Alert Channel",
        "operationId": "get_alert_channel_alerts_channels__alert_channel_id__get",
        "parameters": [
          {
            "name": "alert_channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Alert Channel Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertChannel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/": {
      "post": {
        "summary": "Bulk Actions",
        "operationId": "bulk_actions_tasks__post",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkActionsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResults_EnrichedBulkAction_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/healthz/": {
      "get": {
        "summary": "Is Api Up And Running",
        "operationId": "is_api_up_and_running_healthz__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Is Api Up And Running Healthz  Get"
                }
              }
            }
          }
        }
      }
    },
    "/events/tenant/_search": {
      "post": {
        "summary": "Current Tenant Feed",
        "operationId": "current_tenant_feed_events_tenant__search_post",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResults_FeedItem_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/events/global/_search": {
      "post": {
        "summary": "Global Search",
        "operationId": "global_search_events_global__search_post",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalSearchRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResults_FeedItem_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/events/identifiers/{identifier_id}/_search": {
      "post": {
        "summary": "Identifier Feed",
        "operationId": "identifier_feed_events_identifiers__identifier_id___search_post",
        "parameters": [
          {
            "name": "identifier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Identifier Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResults_FeedItem_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/events/identifier_groups/{identifier_group_id}/_search": {
      "post": {
        "summary": "Identifier Group Feed",
        "operationId": "identifier_group_feed_events_identifier_groups__identifier_group_id___search_post",
        "parameters": [
          {
            "name": "identifier_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Identifier Group Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResults_FeedItem_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/events/filters/types": {
      "get": {
        "summary": "Fetch Filters Source Types",
        "operationId": "fetch_filters_source_types_events_filters_types_get",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterSourceTypes"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/events/filters/severities": {
      "get": {
        "summary": "Fetch Filters Risk Score",
        "operationId": "fetch_filters_risk_score_events_filters_severities_get",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterSeverities"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/events/actions": {
      "post": {
        "summary": "Event Actions",
        "operationId": "event_actions_events_actions_post",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventActionsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/threat_flow/reports/": {
      "get": {
        "summary": "List Reports",
        "operationId": "list_reports_threat_flow_reports__get",
        "parameters": [
          {
            "name": "from_",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "From "
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "title": "Size"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderType",
              "default": "desc"
            }
          },
          {
            "name": "report_types",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReportType"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Report Types"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResults_Report_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/threat_flow/reports/{report_id}": {
      "get": {
        "summary": "Get Report",
        "operationId": "get_report_threat_flow_reports__report_id__get",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Report Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Report",
        "operationId": "delete_report_threat_flow_reports__report_id__delete",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Report Id"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/threat_flow/reports/{report_id}/download": {
      "get": {
        "summary": "Download Report",
        "operationId": "download_report_threat_flow_reports__report_id__download_get",
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Report Id"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ThreatFlowReportDownloadFormat",
              "default": "docx"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/threat_flow/unit_summary/related_conversation": {
      "post": {
        "summary": "Get Related Conversation",
        "operationId": "get_related_conversation_threat_flow_unit_summary_related_conversation_post",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelatedConversationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedConversationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/threat_flow/tags/": {
      "get": {
        "summary": "List Tags",
        "operationId": "list_tags_threat_flow_tags__get",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListPayload"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/threat_flow/tenant_config/": {
      "get": {
        "summary": "Get And Create Tenant Config",
        "operationId": "get_and_create_tenant_config_threat_flow_tenant_config__get",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreatFlowTenantConfigPayload"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Create Or Update Tenant Config",
        "operationId": "create_or_update_tenant_config_threat_flow_tenant_config__put",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ThreatFlowTenantConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreatFlowTenantConfigPayload"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/threat_flow/conversation_summary_requests/": {
      "put": {
        "summary": "Create Conversation Summary Request",
        "operationId": "create_conversation_summary_request_threat_flow_conversation_summary_requests__put",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSummaryRequestPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationSummaryRequestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Conversation Summary Requests",
        "operationId": "list_conversation_summary_requests_threat_flow_conversation_summary_requests__get",
        "parameters": [
          {
            "name": "from_",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "From "
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "title": "Size"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderType",
              "default": "desc"
            }
          },
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResults_ConversationSummaryRequestResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/threat_flow/reports/requests": {
      "post": {
        "summary": "Create Report Request",
        "operationId": "create_report_request_threat_flow_reports_requests_post",
        "parameters": [
          {
            "name": "X-Auth-Request-User",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User"
            }
          },
          {
            "name": "X-Auth-Request-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-User-Id"
            }
          },
          {
            "name": "X-Auth-Request-User-Scopes",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "X-Auth-Request-User-Scopes"
            }
          },
          {
            "name": "X-Auth-Request-Tenant-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "X-Auth-Request-Tenant-Id"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Real-Ip"
            }
          },
          {
            "name": "x-flare-referer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Flare-Referer"
            }
          },
          {
            "name": "user-agent",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "User-Agent"
            }
          }
        ],
        "requestBody": {
[...]
