{
    "openapi": "3.0.1",
    "info": {
        "description": "\nManage and access Firework resources.\n\n### Steps to use the Api\n\n1. `Send` a POST request to `https://api.flare.systems/tokens/generate` with your **Firework** credentials using [Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication) to get a authentication token.\n---\n2. On the current page, click on the **Authorize** button and insert the token using the following format: `Bearer {token}`\n\n   Example value: `Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.e30.Et9HFtf9R3GEMA0IICOfFMVXY7kkTX1wr4qCyhIf58U`\n---\n3. You should now be able to use SwaggerUI's built-in tools to query the documented endpoints.\n",
        "title": "Firework API",
        "version": "v2"
    },
    "servers": [
        {
            "url": "https://api.flare.io/"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "tags": [
        {
            "description": "Searches the threat activity database.",
            "name": "search"
        },
        {
            "description": "Manage a user's or organization's identifiers",
            "name": "Identifiers"
        },
        {
            "description": "Perform actions on activities.",
            "name": "activities"
        },
        {
            "description": "Perform actions on the current user.",
            "name": "me"
        },
        {
            "description": "Manage tenants.",
            "name": "tenants"
        },
        {
            "description": "Admin management of organizations.",
            "name": "organizations"
        },
        {
            "description": "Manage reporting as an admin.",
            "name": "reporting"
        }
    ],
    "paths": {
        "/firework/v2/activities/": {
            "get": {
                "operationId": "get_activity_endpoint_/activities/",
                "parameters": [
                    {
                        "in": "query",
                        "name": "uid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns the activity"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/actor/profile/{actor_name}": {
            "get": {
                "operationId": "get_actor_/activities/actor/profile/<string:actor_name>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "actor_name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "  Limit results to those found in this time span.  \n\n  *Expected format* : from@to  \n\n  *Example value* : 2019-09-03T04:00:00.000Z@2019-09-14T04:00:00.000Z",
                        "in": "query",
                        "name": "actor_time",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Maximum number of hits returned per query.",
                        "in": "query",
                        "name": "actor_size",
                        "schema": {
                            "default": 100,
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The `search_after` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, use the latest response's `search_after` attribute for the next request to get the next page of results.",
                        "in": "query",
                        "name": "actor_search_after",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns the actor"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/document/{source}/{id}/extensions": {
            "get": {
                "operationId": "get_ransom_leak_file_extensions_endpoint_/activities/document/<string:source>/<path:id>/extensions",
                "parameters": [
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns all the different file extensions that were found in the files of a ransom leak."
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/document/{source}/{id}/files": {
            "get": {
                "operationId": "get_ransom_leak_files_endpoint_/activities/document/<string:source>/<path:id>/files",
                "parameters": [
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns the files in a ransom leak matching the specified query"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/leak/{source}/{keyword}": {
            "get": {
                "operationId": "get_leak_endpoint_/activities/leak/<string:source>/<string:keyword>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "keyword",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns the leak activity"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Leak activity not found"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/leak/{source}/{keyword}/count": {
            "get": {
                "operationId": "get_leak_count_/activities/leak/<string:source>/<string:keyword>/count",
                "parameters": [
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "keyword",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id_}/user_metadata": {
            "get": {
                "operationId": "get_activity_user_metadata_resource_/activities/<string:index>/<string:source>/<path:id_>/user_metadata",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id_",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityUserMetadata"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id_}/user_metadata/ignored": {
            "put": {
                "operationId": "put_activity_user_metadata_ignored_/activities/<string:index>/<string:source>/<path:id_>/user_metadata/ignored",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id_",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityUserMetadataIgnored"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityUserMetadata"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/activities/{index}/{source}/{id_}/user_metadata/notes": {
            "delete": {
                "operationId": "delete_activity_user_metadata_notes_/activities/<string:index>/<string:source>/<path:id_>/user_metadata/notes",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id_",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ]
            },
            "put": {
                "operationId": "put_activity_user_metadata_notes_/activities/<string:index>/<string:source>/<path:id_>/user_metadata/notes",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id_",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityUserNotes"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityUserMetadata"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/activities/{index}/{source}/{id_}/user_metadata/remediated": {
            "put": {
                "operationId": "put_activity_user_metadata_remediated_/activities/<string:index>/<string:source>/<path:id_>/user_metadata/remediated",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id_",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityUserMetadataRemediated"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityUserMetadata"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/activities/{index}/{source}/{id_}/user_metadata/risk_score": {
            "delete": {
                "operationId": "delete_activity_user_metadata_risk_score_/activities/<string:index>/<string:source>/<path:id_>/user_metadata/risk_score",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id_",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ]
            },
            "put": {
                "operationId": "put_activity_user_metadata_risk_score_/activities/<string:index>/<string:source>/<path:id_>/user_metadata/risk_score",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id_",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityUserRiskScore"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityUserMetadata"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/activities/{index}/{source}/{id_}/user_metadata/tags": {
            "delete": {
                "operationId": "delete_activity_user_metadata_tags_/activities/<string:index>/<string:source>/<path:id_>/user_metadata/tags",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id_",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ]
            },
            "get": {
                "operationId": "get_activity_user_metadata_tags_/activities/<string:index>/<string:source>/<path:id_>/user_metadata/tags",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id_",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityUserMetadata"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ]
            },
            "put": {
                "operationId": "put_activity_user_metadata_tags_/activities/<string:index>/<string:source>/<path:id_>/user_metadata/tags",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id_",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityUserTags"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityUserMetadata"
                                }
                            }
                        },
                        "description": "Success"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    }
                },
                "tags": [
                    "activities"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}": {
            "get": {
                "operationId": "get_activity_endpoint_deprecated_/activities/<string:index>/<string:source>/<path:id>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns the activity"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}/ai_assistance": {
            "get": {
                "operationId": "get_activity_assistance_resource_/activities/<string:index>/<string:source>/<path:id>/ai_assistance",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_activity_assistance_resource__activities__string_index___string_source___path_id__ai_assistance_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}/enrichment": {
            "get": {
                "operationId": "get_activity_enrichment_endpoint_/activities/<string:index>/<string:source>/<path:id>/enrichment",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns the activity enrichment"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}/events": {
            "get": {
                "operationId": "get_entity_events_/activities/<string:index>/<string:source>/<path:id>/events",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Start from this key when paginating events.",
                        "in": "query",
                        "name": "from",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Limit the events per page.",
                        "in": "query",
                        "name": "size",
                        "schema": {
                            "default": 100,
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns events associated with the entity"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}/highlights": {
            "post": {
                "operationId": "post_activity_highlights_/activities/<string:index>/<string:source>/<path:id>/highlights",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HighlightPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns the highlights of an activity"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    }
                },
                "tags": [
                    "activities"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}/leaked_data": {
            "get": {
                "operationId": "get_leaked_data_/activities/<string:index>/<string:source>/<path:id>/leaked_data",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    },
                    "200": {
                        "content": {},
                        "description": "Returns the related leaked_data"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}/messages": {
            "get": {
                "operationId": "get_activity_messages_/activities/<string:index>/<string:source>/<path:id>/messages",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns the related messages"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}/parent_chat_data": {
            "get": {
                "operationId": "get_parent_activity_data_/activities/<string:index>/<string:source>/<path:id>/parent_chat_data",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    },
                    "200": {
                        "content": {},
                        "description": "Returns the related parent_uids data"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}/related/{context}": {
            "get": {
                "operationId": "get_related_items_/activities/<string:index>/<string:source>/<path:id>/related/<string:context>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "context",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "ID of an identifier.",
                        "explode": true,
                        "in": "query",
                        "name": "identifier_ids",
                        "schema": {
                            "items": {
                                "type": "integer"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity have no related items"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    },
                    "200": {
                        "content": {},
                        "description": "Returns related activities"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}/translate": {
            "post": {
                "operationId": "post_translate_activity_/activities/<string:index>/<string:source>/<path:id>/translate",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Set the maximum len of translated text.",
                        "in": "query",
                        "name": "max_len",
                        "schema": {
                            "default": 10000,
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Returns the translation of an activity"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/assets/": {
            "get": {
                "operationId": "get_assets_/assets/",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_assets__assets__200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "post": {
                "operationId": "post_assets_/assets/",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IdentifierCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets__assets__200_response"
                                }
                            }
                        },
                        "description": "Success"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/groups/": {
            "get": {
                "operationId": "get_assets_groups_/assets/groups/",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_assets_groups__assets_groups__200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "post": {
                "operationId": "post_assets_groups_/assets/groups/",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IdentifierGroup"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets_groups__assets_groups__200_response"
                                }
                            }
                        },
                        "description": "Success"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/groups/{assets_group_id}": {
            "delete": {
                "operationId": "delete_assets_group_api_/assets/groups/<int:assets_group_id>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "get": {
                "operationId": "get_assets_group_api_/assets/groups/<int:assets_group_id>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets_groups__assets_groups__200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "put": {
                "operationId": "put_assets_group_api_/assets/groups/<int:assets_group_id>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateGroupData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets_groups__assets_groups__200_response"
                                }
                            }
                        },
                        "description": "Success"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/groups/{assets_group_id}/alerts": {
            "get": {
                "operationId": "get_assets_group_alerts_/assets/groups/<int:assets_group_id>/alerts",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_assets_group_alerts__assets_groups__int_assets_group_id__alerts_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "post": {
                "operationId": "post_assets_group_alerts_/assets/groups/<int:assets_group_id>/alerts",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeedAlert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeedAlert"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/groups/{assets_group_id}/alerts/{alert_id}": {
            "delete": {
                "operationId": "delete_assets_group_alert_/assets/groups/<int:assets_group_id>/alerts/<int:alert_id>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "alert_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "put": {
                "operationId": "put_assets_group_alert_/assets/groups/<int:assets_group_id>/alerts/<int:alert_id>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "alert_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeedAlert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeedAlert"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/groups/{assets_group_id}/feed": {
            "get": {
                "operationId": "get_assets_group_feed_/assets/groups/<int:assets_group_id>/feed",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Fields to includes in the results in a dotted form. For example, \"data.actor_name\" will include items similar to:```json\n        \"items\": [{\n            \"data\": {\n                \"actor_name\": \"Seller123\"\n            }\n        }]\n        ```\n\n        By default, all fields are included in the response.\n        ",
                        "explode": true,
                        "in": "query",
                        "name": "fields",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "  The `time` parameter is used to limit results to those found in the provided time span.  \n\n  *Expected format* : from@to  \n\n  *Example value* : 2019-09-03T04:00:00.000Z@2019-09-14T04:00:00.000Z",
                        "in": "query",
                        "name": "time",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The `size` parameter is used to limit the number of results returned for the search query.",
                        "in": "query",
                        "name": "size",
                        "schema": {
                            "default": 10,
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The `search_after` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, include the `search_after` parameter in your next request with the latest response's `search_after` value to get the next page of results.",
                        "in": "query",
                        "name": "search_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The `from` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, include the `from` parameter in your next request with the latest response's `next` value to get the next page of results.",
                        "in": "query",
                        "name": "from",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "User defined tags used to filter search results",
                        "explode": true,
                        "in": "query",
                        "name": "tags",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "User defined operator to apply to tags filter",
                        "in": "query",
                        "name": "tags_query_operator",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "\nType of activities to search through.\n\n*Expected values* : attachment, listing, ransomleak, forum_post, forum_topic, forum_profile, blog_post, seller, paste, leak, chat_message, domain, bot, stealer_log, infected_devices, driller, driller_forum_topic, driller_forum_post, driller_profile, cc, ccbin, financial_data, leaked_data, leaked_file, document, account, actor, forum_content, blog_content, profile, leaked_credential, illicit_networks, open_web, domains, leaks, social_media_account, social_media, source_code, source_code_secrets_np, source_code_secrets, source_code_files, docker, stack_exchange, google, service, driller_host, buckets, bucket, bucket_object, whois, cookie, pii, experimental\n\n*Some search types contain others*\n- illicit_networks: forum_post, financial_data, blog_post, stealer_log, bot, forum_topic, seller, listing, forum_profile, ransomleak, chat_message\n- open_web: google, bucket_object, docker, source_code_secrets, bucket, paste, source_code_files, social_media_account, stack_exchange, service\n- leaks: leak\n- domains: domain\n",
                        "explode": true,
                        "in": "query",
                        "name": "types",
                        "schema": {
                            "enum": [
                                "attachment",
                                "listing",
                                "ransomleak",
                                "forum_post",
                                "forum_topic",
                                "forum_profile",
                                "blog_post",
                                "seller",
                                "paste",
                                "leak",
                                "chat_message",
                                "domain",
                                "bot",
                                "stealer_log",
                                "infected_devices",
                                "driller",
                                "driller_forum_topic",
                                "driller_forum_post",
                                "driller_profile",
                                "cc",
                                "ccbin",
                                "financial_data",
                                "leaked_data",
                                "leaked_file",
                                "document",
                                "account",
                                "actor",
                                "forum_content",
                                "blog_content",
                                "profile",
                                "leaked_credential",
                                "illicit_networks",
                                "open_web",
                                "domains",
                                "leaks",
                                "social_media_account",
                                "social_media",
                                "source_code",
                                "source_code_secrets_np",
                                "source_code_secrets",
                                "source_code_files",
                                "docker",
                                "stack_exchange",
                                "google",
                                "service",
                                "driller_host",
                                "buckets",
                                "bucket",
                                "bucket_object",
                                "whois",
                                "ad",
                                "ads",
                                "cookie",
                                "pii",
                                "experimental"
                            ],
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "Type of experimental activities to search through.",
                        "explode": true,
                        "in": "query",
                        "name": "experimental_types",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "event_action",
                        "schema": {
                            "enum": [
                                "default",
                                "ignored",
                                "remediated",
                                "risk_score_edited",
                                "exclude_ignored",
                                "ignored_or_remediated"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "event_actions",
                        "schema": {
                            "enum": [
                                "default",
                                "ignored",
                                "remediated",
                                "risk_score_edited",
                                "exclude_ignored",
                                "ignored_or_remediated"
                            ],
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "risks",
                        "schema": {
                            "enum": [
                                "1",
                                "2",
                                "3",
                                "4",
                                "5"
                            ],
                            "items": {
                                "type": "integer"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "schema": {
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "sort_by",
                        "schema": {
                            "default": "created",
                            "enum": [
                                "created",
                                "indexed",
                                "updated",
                                "alertable-materialized",
                                "materialized",
                                "searchable"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "use_global_policies",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "The time zone used to compute the statistics.",
                        "in": "query",
                        "name": "time_zone",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Query used to filter results. Search query uses the [Lucene query](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/query-dsl-query-string-query.html#query-string-syntax) syntax.",
                        "in": "query",
                        "name": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "has_modified_risk_score",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "has_notes",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Identifier group does not exist."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Search"
                                }
                            }
                        },
                        "description": "Returns the search result(s)."
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "post": {
                "operationId": "post_assets_group_feed_/assets/groups/<int:assets_group_id>/feed",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Fields to includes in the results in a dotted form. For example, \"data.actor_name\" will include items similar to:```json\n        \"items\": [{\n            \"data\": {\n                \"actor_name\": \"Seller123\"\n            }\n        }]\n        ```\n\n        By default, all fields are included in the response.\n        ",
                        "explode": true,
                        "in": "query",
                        "name": "fields",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "  The `time` parameter is used to limit results to those found in the provided time span.  \n\n  *Expected format* : from@to  \n\n  *Example value* : 2019-09-03T04:00:00.000Z@2019-09-14T04:00:00.000Z",
                        "in": "query",
                        "name": "time",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The `size` parameter is used to limit the number of results returned for the search query.",
                        "in": "query",
                        "name": "size",
                        "schema": {
                            "default": 10,
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The `search_after` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, include the `search_after` parameter in your next request with the latest response's `search_after` value to get the next page of results.",
                        "in": "query",
                        "name": "search_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The `from` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, include the `from` parameter in your next request with the latest response's `next` value to get the next page of results.",
                        "in": "query",
                        "name": "from",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "User defined tags used to filter search results",
                        "explode": true,
                        "in": "query",
                        "name": "tags",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "User defined operator to apply to tags filter",
                        "in": "query",
                        "name": "tags_query_operator",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "\nType of activities to search through.\n\n*Expected values* : attachment, listing, ransomleak, forum_post, forum_topic, forum_profile, blog_post, seller, paste, leak, chat_message, domain, bot, stealer_log, infected_devices, driller, driller_forum_topic, driller_forum_post, driller_profile, cc, ccbin, financial_data, leaked_data, leaked_file, document, account, actor, forum_content, blog_content, profile, leaked_credential, illicit_networks, open_web, domains, leaks, social_media_account, social_media, source_code, source_code_secrets_np, source_code_secrets, source_code_files, docker, stack_exchange, google, service, driller_host, buckets, bucket, bucket_object, whois, cookie, pii, experimental\n\n*Some search types contain others*\n- illicit_networks: forum_post, financial_data, blog_post, stealer_log, bot, forum_topic, seller, listing, forum_profile, ransomleak, chat_message\n- open_web: google, bucket_object, docker, source_code_secrets, bucket, paste, source_code_files, social_media_account, stack_exchange, service\n- leaks: leak\n- domains: domain\n",
                        "explode": true,
                        "in": "query",
                        "name": "types",
                        "schema": {
                            "enum": [
                                "attachment",
                                "listing",
                                "ransomleak",
                                "forum_post",
                                "forum_topic",
                                "forum_profile",
                                "blog_post",
                                "seller",
                                "paste",
                                "leak",
                                "chat_message",
                                "domain",
                                "bot",
                                "stealer_log",
                                "infected_devices",
                                "driller",
                                "driller_forum_topic",
                                "driller_forum_post",
                                "driller_profile",
                                "cc",
                                "ccbin",
                                "financial_data",
                                "leaked_data",
                                "leaked_file",
                                "document",
                                "account",
                                "actor",
                                "forum_content",
                                "blog_content",
                                "profile",
                                "leaked_credential",
                                "illicit_networks",
                                "open_web",
                                "domains",
                                "leaks",
                                "social_media_account",
                                "social_media",
                                "source_code",
                                "source_code_secrets_np",
                                "source_code_secrets",
                                "source_code_files",
                                "docker",
                                "stack_exchange",
                                "google",
                                "service",
                                "driller_host",
                                "buckets",
                                "bucket",
                                "bucket_object",
                                "whois",
                                "ad",
                                "ads",
                                "cookie",
                                "pii",
                                "experimental"
                            ],
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "Type of experimental activities to search through.",
                        "explode": true,
                        "in": "query",
                        "name": "experimental_types",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "event_action",
                        "schema": {
                            "enum": [
                                "default",
                                "ignored",
                                "remediated",
                                "risk_score_edited",
                                "exclude_ignored",
                                "ignored_or_remediated"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "event_actions",
                        "schema": {
                            "enum": [
                                "default",
                                "ignored",
                                "remediated",
                                "risk_score_edited",
                                "exclude_ignored",
                                "ignored_or_remediated"
                            ],
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "risks",
                        "schema": {
                            "enum": [
                                "1",
                                "2",
                                "3",
                                "4",
                                "5"
                            ],
                            "items": {
                                "type": "integer"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "schema": {
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "sort_by",
                        "schema": {
                            "default": "created",
                            "enum": [
                                "created",
                                "indexed",
                                "updated",
                                "alertable-materialized",
                                "materialized",
                                "searchable"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "use_global_policies",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "The time zone used to compute the statistics.",
                        "in": "query",
                        "name": "time_zone",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Query used to filter results. Search query uses the [Lucene query](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/query-dsl-query-string-query.html#query-string-syntax) syntax.",
                        "in": "query",
                        "name": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "has_modified_risk_score",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "has_notes",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Identifier group does not exist."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Search"
                                }
                            }
                        },
                        "description": "Returns the search result(s)."
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            }
        },
        "/firework/v2/assets/{asset_id}": {
            "delete": {
                "operationId": "delete_asset_api_/assets/<int:asset_id>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "get": {
                "operationId": "get_asset_api_/assets/<int:asset_id>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets__assets__200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "put": {
                "operationId": "put_asset_api_/assets/<int:asset_id>",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Identifier"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets__assets__200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/{asset_id}/alerts": {
            "get": {
                "operationId": "get_asset_alerts_/assets/<int:asset_id>/alerts",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_assets_group_alerts__assets_groups__int_assets_group_id__alerts_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "post": {
                "operationId": "post_asset_alerts_/assets/<int:asset_id>/alerts",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeedAlert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
[...]
