{
    "openapi": "3.0.1",
    "info": {
        "description": "\nManage and access Firework resources.\n\nRequests are authenticated with API tokens, which are obtained using an API key:\n\n1. Generate an API key from the [Profile page](https://app.flare.io/#/profile).\n2. Send a `POST` request to `https://api.flare.io/tokens/generate` with the `Authorization: <api-key>` header to get an API token. API tokens expire after 1 hour.\n3. Call the API endpoints with the `Authorization: Bearer <api-token>` header.\n\nSee [Authentication](https://api.docs.flare.io/concepts/authentication) for details.\n",
        "title": "Firework API",
        "version": "v2"
    },
    "servers": [
        {
            "url": "https://api.flare.io/"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "tags": [
        {
            "description": "Searches the threat activity database.",
            "name": "search"
        },
        {
            "description": "Manage a user's or organization's identifiers",
            "name": "Identifiers"
        },
        {
            "description": "Perform actions on activities.",
            "name": "activities"
        },
        {
            "description": "Perform actions on the current user.",
            "name": "me"
        },
        {
            "description": "Manage tenants.",
            "name": "tenants"
        },
        {
            "description": "Admin management of organizations.",
            "name": "organizations"
        },
        {
            "description": "Manage reporting as an admin.",
            "name": "reporting"
        }
    ],
    "paths": {
        "/firework/v2/activities/": {
            "get": {
                "operationId": "get_activity_endpoint",
                "parameters": [
                    {
                        "in": "query",
                        "name": "uid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_activity_endpoint_200_response"
                                }
                            }
                        },
                        "description": "Returns the activity"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}": {
            "get": {
                "operationId": "get_activity_endpoint_deprecated",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_activity_endpoint_200_response"
                                }
                            }
                        },
                        "description": "Returns the activity"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Activity not found"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/activities/{index}/{source}/{id}/ai_assistance": {
            "get": {
                "operationId": "get_activity_assistance_resource",
                "parameters": [
                    {
                        "in": "path",
                        "name": "index",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "source",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_activity_assistance_resource_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "activities"
                ]
            }
        },
        "/firework/v2/assets/": {
            "get": {
                "operationId": "get_assets",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_assets_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "post": {
                "operationId": "post_assets",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IdentifierCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/groups/": {
            "get": {
                "operationId": "get_assets_groups",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_assets_groups_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "post": {
                "operationId": "post_assets_groups",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IdentifierGroup"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets_groups_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/groups/{assets_group_id}": {
            "delete": {
                "operationId": "delete_assets_group_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "get": {
                "operationId": "get_assets_group_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets_groups_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "put": {
                "operationId": "put_assets_group_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateGroupData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets_groups_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/groups/{assets_group_id}/alerts": {
            "get": {
                "operationId": "get_assets_group_alerts",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_assets_group_alerts_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "post": {
                "operationId": "post_assets_group_alerts",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeedAlert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeedAlert"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/groups/{assets_group_id}/alerts/{alert_id}": {
            "delete": {
                "operationId": "delete_assets_group_alert",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "alert_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "put": {
                "operationId": "put_assets_group_alert",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "alert_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeedAlert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeedAlert"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/groups/{assets_group_id}/feed": {
            "get": {
                "operationId": "get_assets_group_feed",
                "parameters": [
                    {
                        "in": "path",
                        "name": "assets_group_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Fields to includes in the results in a dotted form. For example, \"data.actor_name\" will include items similar to:```json\n        \"items\": [{\n            \"data\": {\n                \"actor_name\": \"Seller123\"\n            }\n        }]\n        ```\n\n        By default, all fields are included in the response.\n        ",
                        "explode": true,
                        "in": "query",
                        "name": "fields",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "  The `time` parameter is used to limit results to those found in the provided time span.  \n\n  *Expected format* : from@to  \n\n  *Example value* : 2019-09-03T04:00:00.000Z@2019-09-14T04:00:00.000Z",
                        "in": "query",
                        "name": "time",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The `size` parameter is used to limit the number of results returned for the search query.",
                        "in": "query",
                        "name": "size",
                        "schema": {
                            "default": 10,
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The `search_after` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, include the `search_after` parameter in your next request with the latest response's `search_after` value to get the next page of results.",
                        "in": "query",
                        "name": "search_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The `from` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, include the `from` parameter in your next request with the latest response's `next` value to get the next page of results.",
                        "in": "query",
                        "name": "from",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "User defined tags used to filter search results",
                        "explode": true,
                        "in": "query",
                        "name": "tags",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "User defined operator to apply to tags filter",
                        "in": "query",
                        "name": "tags_query_operator",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "\nType of activities to search through.\n\n*Expected values* : attachment, listing, ransomleak, forum_post, forum_topic, forum_profile, blog_post, seller, paste, leak, chat_message, domain, bot, stealer_log, infected_devices, driller, driller_forum_topic, driller_forum_post, driller_profile, cc, ccbin, financial_data, leaked_data, leaked_file, document, account, actor, forum_content, blog_content, profile, leaked_credential, valid_credential, invalid_credential, mitigated_credential, illicit_networks, open_web, domains, intelligence_object, leaks, social_media_account, social_media, source_code, source_code_secrets_np, source_code_secrets, source_code_files, secret, docker, stack_exchange, google, service, driller_host, buckets, bucket, bucket_object, whois, cookie, pii, experimental, lookalike_discovery, lookalike_title, lookalike_favicon, lookalike_screenshot, lookalike_ip_address, lookalike_dns, lookalike_whois_rdap, lookalike_ssl_certificate\n\n*Some search types contain others*\n- illicit_networks: forum_post, forum_topic, chat_message, financial_data, listing, blog_post, stealer_log, forum_profile, ransomleak, seller, bot\n- open_web: stack_exchange, service, docker, paste, bucket_object, source_code_files, bucket, google, source_code_secrets, social_media_account\n- leaks: invalid_credential, valid_credential, leak, mitigated_credential\n- domains: domain\n",
                        "explode": true,
                        "in": "query",
                        "name": "types",
                        "schema": {
                            "items": {
                                "enum": [
                                    "attachment",
                                    "listing",
                                    "ransomleak",
                                    "forum_post",
                                    "forum_topic",
                                    "forum_profile",
                                    "blog_post",
                                    "seller",
                                    "paste",
                                    "leak",
                                    "chat_message",
                                    "domain",
                                    "bot",
                                    "stealer_log",
                                    "infected_devices",
                                    "driller",
                                    "driller_forum_topic",
                                    "driller_forum_post",
                                    "driller_profile",
                                    "cc",
                                    "ccbin",
                                    "financial_data",
                                    "leaked_data",
                                    "leaked_file",
                                    "document",
                                    "account",
                                    "actor",
                                    "forum_content",
                                    "blog_content",
                                    "profile",
                                    "leaked_credential",
                                    "valid_credential",
                                    "invalid_credential",
                                    "mitigated_credential",
                                    "illicit_networks",
                                    "open_web",
                                    "domains",
                                    "intelligence_object",
                                    "leaks",
                                    "social_media_account",
                                    "social_media",
                                    "source_code",
                                    "source_code_secrets_np",
                                    "source_code_secrets",
                                    "source_code_files",
                                    "secret",
                                    "docker",
                                    "stack_exchange",
                                    "google",
                                    "service",
                                    "driller_host",
                                    "buckets",
                                    "bucket",
                                    "bucket_object",
                                    "whois",
                                    "ad",
                                    "ads",
                                    "cookie",
                                    "pii",
                                    "experimental",
                                    "lookalike_discovery",
                                    "lookalike_title",
                                    "lookalike_favicon",
                                    "lookalike_screenshot",
                                    "lookalike_ip_address",
                                    "lookalike_dns",
                                    "lookalike_whois_rdap",
                                    "lookalike_ssl_certificate"
                                ],
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "Type of experimental activities to search through.",
                        "explode": true,
                        "in": "query",
                        "name": "experimental_types",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "event_action",
                        "schema": {
                            "enum": [
                                "default",
                                "ignored",
                                "remediated",
                                "risk_score_edited",
                                "exclude_ignored",
                                "ignored_or_remediated"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "event_actions",
                        "schema": {
                            "items": {
                                "enum": [
                                    "default",
                                    "ignored",
                                    "remediated",
                                    "risk_score_edited",
                                    "exclude_ignored",
                                    "ignored_or_remediated"
                                ],
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "risks",
                        "schema": {
                            "items": {
                                "type": "integer"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "schema": {
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "sort_by",
                        "schema": {
                            "default": "created",
                            "enum": [
                                "created",
                                "indexed",
                                "updated",
                                "alertable-materialized",
                                "materialized",
                                "searchable"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "use_global_policies",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "The time zone used to compute the statistics.",
                        "in": "query",
                        "name": "time_zone",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Query used to filter results. Search query uses the [Lucene query](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/query-dsl-query-string-query.html#query-string-syntax) syntax.",
                        "in": "query",
                        "name": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "has_modified_risk_score",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "has_notes",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Identifier group does not exist."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Search"
                                }
                            }
                        },
                        "description": "Returns the search result(s)."
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            }
        },
        "/firework/v2/assets/{asset_id}": {
            "delete": {
                "operationId": "delete_asset_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "put": {
                "operationId": "put_asset_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Identifier"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/{asset_id}/alerts": {
            "get": {
                "operationId": "get_asset_alerts",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_assets_group_alerts_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "post": {
                "operationId": "post_asset_alerts",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeedAlert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeedAlert"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/{asset_id}/alerts/{alert_id}": {
            "delete": {
                "operationId": "delete_asset_alert",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "alert_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {},
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            },
            "put": {
                "operationId": "put_asset_alert",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "alert_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FeedAlert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeedAlert"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/assets/{asset_id}/feed": {
            "get": {
                "operationId": "get_asset_feed",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Fields to includes in the results in a dotted form. For example, \"data.actor_name\" will include items similar to:```json\n        \"items\": [{\n            \"data\": {\n                \"actor_name\": \"Seller123\"\n            }\n        }]\n        ```\n\n        By default, all fields are included in the response.\n        ",
                        "explode": true,
                        "in": "query",
                        "name": "fields",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "  The `time` parameter is used to limit results to those found in the provided time span.  \n\n  *Expected format* : from@to  \n\n  *Example value* : 2019-09-03T04:00:00.000Z@2019-09-14T04:00:00.000Z",
                        "in": "query",
                        "name": "time",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The `size` parameter is used to limit the number of results returned for the search query.",
                        "in": "query",
                        "name": "size",
                        "schema": {
                            "default": 10,
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The `search_after` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, include the `search_after` parameter in your next request with the latest response's `search_after` value to get the next page of results.",
                        "in": "query",
                        "name": "search_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The `from` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, include the `from` parameter in your next request with the latest response's `next` value to get the next page of results.",
                        "in": "query",
                        "name": "from",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "User defined tags used to filter search results",
                        "explode": true,
                        "in": "query",
                        "name": "tags",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "User defined operator to apply to tags filter",
                        "in": "query",
                        "name": "tags_query_operator",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "\nType of activities to search through.\n\n*Expected values* : attachment, listing, ransomleak, forum_post, forum_topic, forum_profile, blog_post, seller, paste, leak, chat_message, domain, bot, stealer_log, infected_devices, driller, driller_forum_topic, driller_forum_post, driller_profile, cc, ccbin, financial_data, leaked_data, leaked_file, document, account, actor, forum_content, blog_content, profile, leaked_credential, valid_credential, invalid_credential, mitigated_credential, illicit_networks, open_web, domains, intelligence_object, leaks, social_media_account, social_media, source_code, source_code_secrets_np, source_code_secrets, source_code_files, secret, docker, stack_exchange, google, service, driller_host, buckets, bucket, bucket_object, whois, cookie, pii, experimental, lookalike_discovery, lookalike_title, lookalike_favicon, lookalike_screenshot, lookalike_ip_address, lookalike_dns, lookalike_whois_rdap, lookalike_ssl_certificate\n\n*Some search types contain others*\n- illicit_networks: forum_post, forum_topic, chat_message, financial_data, listing, blog_post, stealer_log, forum_profile, ransomleak, seller, bot\n- open_web: stack_exchange, service, docker, paste, bucket_object, source_code_files, bucket, google, source_code_secrets, social_media_account\n- leaks: invalid_credential, valid_credential, leak, mitigated_credential\n- domains: domain\n",
                        "explode": true,
                        "in": "query",
                        "name": "types",
                        "schema": {
                            "items": {
                                "enum": [
                                    "attachment",
                                    "listing",
                                    "ransomleak",
                                    "forum_post",
                                    "forum_topic",
                                    "forum_profile",
                                    "blog_post",
                                    "seller",
                                    "paste",
                                    "leak",
                                    "chat_message",
                                    "domain",
                                    "bot",
                                    "stealer_log",
                                    "infected_devices",
                                    "driller",
                                    "driller_forum_topic",
                                    "driller_forum_post",
                                    "driller_profile",
                                    "cc",
                                    "ccbin",
                                    "financial_data",
                                    "leaked_data",
                                    "leaked_file",
                                    "document",
                                    "account",
                                    "actor",
                                    "forum_content",
                                    "blog_content",
                                    "profile",
                                    "leaked_credential",
                                    "valid_credential",
                                    "invalid_credential",
                                    "mitigated_credential",
                                    "illicit_networks",
                                    "open_web",
                                    "domains",
                                    "intelligence_object",
                                    "leaks",
                                    "social_media_account",
                                    "social_media",
                                    "source_code",
                                    "source_code_secrets_np",
                                    "source_code_secrets",
                                    "source_code_files",
                                    "secret",
                                    "docker",
                                    "stack_exchange",
                                    "google",
                                    "service",
                                    "driller_host",
                                    "buckets",
                                    "bucket",
                                    "bucket_object",
                                    "whois",
                                    "ad",
                                    "ads",
                                    "cookie",
                                    "pii",
                                    "experimental",
                                    "lookalike_discovery",
                                    "lookalike_title",
                                    "lookalike_favicon",
                                    "lookalike_screenshot",
                                    "lookalike_ip_address",
                                    "lookalike_dns",
                                    "lookalike_whois_rdap",
                                    "lookalike_ssl_certificate"
                                ],
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "Type of experimental activities to search through.",
                        "explode": true,
                        "in": "query",
                        "name": "experimental_types",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "event_action",
                        "schema": {
                            "enum": [
                                "default",
                                "ignored",
                                "remediated",
                                "risk_score_edited",
                                "exclude_ignored",
                                "ignored_or_remediated"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "event_actions",
                        "schema": {
                            "items": {
                                "enum": [
                                    "default",
                                    "ignored",
                                    "remediated",
                                    "risk_score_edited",
                                    "exclude_ignored",
                                    "ignored_or_remediated"
                                ],
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "risks",
                        "schema": {
                            "items": {
                                "type": "integer"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "schema": {
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "sort_by",
                        "schema": {
                            "default": "created",
                            "enum": [
                                "created",
                                "indexed",
                                "updated",
                                "alertable-materialized",
                                "materialized",
                                "searchable"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "use_global_policies",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "The time zone used to compute the statistics.",
                        "in": "query",
                        "name": "time_zone",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Query used to filter results. Search query uses the [Lucene query](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/query-dsl-query-string-query.html#query-string-syntax) syntax.",
                        "in": "query",
                        "name": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "has_modified_risk_score",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "has_notes",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Identifier does not exist."
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Query is invalid."
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Search"
                                }
                            }
                        },
                        "description": "Returns the search result(s)."
                    }
                },
                "tags": [
                    "Identifiers"
                ]
            }
        },
        "/firework/v2/assets/{asset_id}/toggle": {
            "post": {
                "operationId": "post_identifier_toggle",
                "parameters": [
                    {
                        "in": "path",
                        "name": "asset_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IdentifierToggle"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_assets_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "Identifiers"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/me/feed": {
            "get": {
                "operationId": "get_current_user_home_feed",
                "parameters": [
                    {
                        "description": "  The `time` parameter is used to limit results to those found in the provided time span.  \n\n  *Expected format* : from@to  \n\n  *Example value* : 2019-09-03T04:00:00.000Z@2019-09-14T04:00:00.000Z",
                        "in": "query",
                        "name": "time",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The `size` parameter is used to limit the number of results returned for the search query.",
                        "in": "query",
                        "name": "size",
                        "schema": {
                            "default": 10,
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The `search_after` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, include the `search_after` parameter in your next request with the latest response's `search_after` value to get the next page of results.",
                        "in": "query",
                        "name": "search_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The `from` parameter is used to paginate through results.  \n\nTo get the first page of results, omit this parameter. Afterward, include the `from` parameter in your next request with the latest response's `next` value to get the next page of results.",
                        "in": "query",
                        "name": "from",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "User defined tags used to filter search results",
                        "explode": true,
                        "in": "query",
                        "name": "tags",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "User defined operator to apply to tags filter",
                        "in": "query",
                        "name": "tags_query_operator",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "\nType of activities to search through.\n\n*Expected values* : attachment, listing, ransomleak, forum_post, forum_topic, forum_profile, blog_post, seller, paste, leak, chat_message, domain, bot, stealer_log, infected_devices, driller, driller_forum_topic, driller_forum_post, driller_profile, cc, ccbin, financial_data, leaked_data, leaked_file, document, account, actor, forum_content, blog_content, profile, leaked_credential, valid_credential, invalid_credential, mitigated_credential, illicit_networks, open_web, domains, intelligence_object, leaks, social_media_account, social_media, source_code, source_code_secrets_np, source_code_secrets, source_code_files, secret, docker, stack_exchange, google, service, driller_host, buckets, bucket, bucket_object, whois, cookie, pii, experimental, lookalike_discovery, lookalike_title, lookalike_favicon, lookalike_screenshot, lookalike_ip_address, lookalike_dns, lookalike_whois_rdap, lookalike_ssl_certificate\n\n*Some search types contain others*\n- illicit_networks: forum_post, forum_topic, chat_message, financial_data, listing, blog_post, stealer_log, forum_profile, ransomleak, seller, bot\n- open_web: stack_exchange, service, docker, paste, bucket_object, source_code_files, bucket, google, source_code_secrets, social_media_account\n- leaks: invalid_credential, valid_credential, leak, mitigated_credential\n- domains: domain\n",
                        "explode": true,
                        "in": "query",
                        "name": "types",
                        "schema": {
                            "items": {
                                "enum": [
                                    "attachment",
                                    "listing",
                                    "ransomleak",
                                    "forum_post",
                                    "forum_topic",
                                    "forum_profile",
                                    "blog_post",
                                    "seller",
                                    "paste",
                                    "leak",
                                    "chat_message",
                                    "domain",
                                    "bot",
                                    "stealer_log",
                                    "infected_devices",
                                    "driller",
                                    "driller_forum_topic",
                                    "driller_forum_post",
                                    "driller_profile",
                                    "cc",
                                    "ccbin",
                                    "financial_data",
                                    "leaked_data",
                                    "leaked_file",
                                    "document",
                                    "account",
                                    "actor",
                                    "forum_content",
                                    "blog_content",
                                    "profile",
                                    "leaked_credential",
                                    "valid_credential",
                                    "invalid_credential",
                                    "mitigated_credential",
                                    "illicit_networks",
                                    "open_web",
                                    "domains",
                                    "intelligence_object",
                                    "leaks",
                                    "social_media_account",
                                    "social_media",
                                    "source_code",
                                    "source_code_secrets_np",
                                    "source_code_secrets",
                                    "source_code_files",
                                    "secret",
                                    "docker",
                                    "stack_exchange",
                                    "google",
                                    "service",
                                    "driller_host",
                                    "buckets",
                                    "bucket",
                                    "bucket_object",
                                    "whois",
                                    "ad",
                                    "ads",
                                    "cookie",
                                    "pii",
                                    "experimental",
                                    "lookalike_discovery",
                                    "lookalike_title",
                                    "lookalike_favicon",
                                    "lookalike_screenshot",
                                    "lookalike_ip_address",
                                    "lookalike_dns",
                                    "lookalike_whois_rdap",
                                    "lookalike_ssl_certificate"
                                ],
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "description": "Type of experimental activities to search through.",
                        "explode": true,
                        "in": "query",
                        "name": "experimental_types",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "event_action",
                        "schema": {
                            "enum": [
                                "default",
                                "ignored",
                                "remediated",
                                "risk_score_edited",
                                "exclude_ignored",
                                "ignored_or_remediated"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "event_actions",
                        "schema": {
                            "items": {
                                "enum": [
                                    "default",
                                    "ignored",
                                    "remediated",
                                    "risk_score_edited",
                                    "exclude_ignored",
                                    "ignored_or_remediated"
                                ],
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "risks",
                        "schema": {
                            "items": {
                                "type": "integer"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "schema": {
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "sort_by",
                        "schema": {
                            "default": "created",
                            "enum": [
                                "created",
                                "indexed",
                                "updated",
                                "alertable-materialized",
                                "materialized",
                                "searchable"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "use_global_policies",
                        "schema": {
                            "default": true,
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "The time zone used to compute the statistics.",
                        "in": "query",
                        "name": "time_zone",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Query used to filter results. Search query uses the [Lucene query](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/query-dsl-query-string-query.html#query-string-syntax) syntax.",
                        "in": "query",
                        "name": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "has_modified_risk_score",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "has_notes",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Search"
                                }
                            }
                        },
                        "description": "The user's home feed activities"
                    }
                },
                "tags": [
                    "me"
                ]
            }
        },
        "/firework/v2/me/feed/credentials": {
            "get": {
                "operationId": "get_leaked_credentials_feed_endpoint",
                "parameters": [
                    {
                        "in": "query",
                        "name": "size",
                        "schema": {
                            "default": 20,
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "from",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "order_type",
                        "schema": {
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedCredentials"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "me"
                ]
            }
        },
        "/firework/v2/me/profile": {
            "get": {
                "operationId": "get_current_user_profile",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_current_user_profile_200_response"
                                }
                            }
                        },
                        "description": "Returns the current user's profile"
                    }
                },
                "tags": [
                    "me"
                ]
            },
            "put": {
                "operationId": "put_current_user_profile",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Update is invalid"
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_current_user_profile_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "me"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/me/tenants": {
            "get": {
                "operationId": "get_current_user_tenants",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_current_user_tenants_200_response"
                                }
                            }
                        },
                        "description": "Returns the current user's tenants."
                    }
                },
                "tags": [
                    "me"
                ]
            }
        },
        "/firework/v2/organizations/{organization_id}/members": {
            "get": {
                "operationId": "get_organization_members_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "size",
                        "schema": {
                            "default": 20,
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "from",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "q",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Organization not found"
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganizationMemberPage"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "organizations"
                ]
            },
            "post": {
                "operationId": "post_organization_members_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganizationMemberData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpError"
                                }
                            }
                        },
                        "description": "Organization not found"
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_organization_members_api_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "organizations"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/organizations/{organization_id}/members/{user_id}": {
            "get": {
                "operationId": "get_organization_member_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "user_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_organization_members_api_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "organizations"
                ]
            },
            "put": {
                "operationId": "put_organization_member_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "user_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganizationMember"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_organization_members_api_200_response"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "organizations"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/organizations/{organization_id}/members/{user_id}/disable": {
            "post": {
                "operationId": "post_organization_member_disable",
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "user_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnableState"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "organizations"
                ]
            }
        },
        "/firework/v2/organizations/{organization_id}/members/{user_id}/enable": {
            "post": {
                "operationId": "post_organization_member_enable",
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "user_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnableState"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "organizations"
                ]
            }
        },
        "/firework/v2/organizations/{organization_id}/members/{user_id}/permissions": {
            "post": {
                "operationId": "post_organization_member_permissions_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "user_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PermissionData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdatedPermission"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "organizations"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/organizations/{organization_id}/members/{user_id}/tenants": {
            "get": {
                "operationId": "get_organization_member_tenants",
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "path",
                        "name": "user_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "size",
                        "schema": {
                            "default": 20,
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "from",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "include_disabled_demo",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "q",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "types[]",
                        "schema": {
                            "items": {
                                "enum": [
                                    "regular",
                                    "service-firm",
                                    "micro",
                                    "starter",
                                    "essential",
                                    "core",
                                    "enterprise",
                                    "demo",
                                    "training"
                                ],
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantWithCounts"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "organizations"
                ]
            }
        },
        "/firework/v2/organizations/{organization_id}/tenants": {
            "get": {
                "operationId": "get_organization_tenants_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantWithCounts"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "organizations"
                ]
            },
            "post": {
                "operationId": "post_organization_tenants_api",
                "parameters": [
                    {
                        "in": "path",
                        "name": "organization_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewTenantInfo"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tenant"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "tags": [
                    "organizations"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/reporting/reports": {
            "get": {
                "operationId": "get_reports_endpoint",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedReports"
                                }
                            }
                        },
                        "description": "Lists reports for the current tenant, ordered from newest to oldest."
                    }
                },
                "tags": [
                    "reporting"
                ]
            },
            "post": {
                "operationId": "post_reports_endpoint",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewReport"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_reports_endpoint_200_response"
                                }
                            }
                        },
                        "description": "Creates a new report on the current tenant."
                    }
                },
                "tags": [
                    "reporting"
                ],
                "x-codegen-request-body-name": "payload"
            }
        },
        "/firework/v2/reporting/reports/{report_id}": {
            "delete": {
                "operationId": "delete_report_endpoint",
                "parameters": [
                    {
                        "in": "path",
                        "name": "report_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/post_reports_endpoint_200_response"
                                }
                            }
                        },
                        "description": "Deletes a report."
                    }
                },
                "tags": [
                    "reporting"
                ]
            },
            "get": {
                "operationId": "get_report_endpoint",
                "parameters": [
                    {
                        "in": "path",
                        "name": "report_id",
                        "required": true,
                        "schema": {
[...]
